

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>Contact &mdash; django-fusionbox v0.0.1 documentation</title>
    <link rel="stylesheet" href="_static/default.css" type="text/css" />
    <link rel="stylesheet" href="_static/pygments.css" type="text/css" />
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '',
        VERSION:     '0.0.1',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="_static/jquery.js"></script>
    <script type="text/javascript" src="_static/underscore.js"></script>
    <script type="text/javascript" src="_static/doctools.js"></script>
    <link rel="top" title="django-fusionbox v0.0.1 documentation" href="index.html" />
    <link rel="next" title="Panels" href="panels.html" />
    <link rel="prev" title="Behaviors" href="behaviors.html" /> 
  </head>
  <body>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="right" >
          <a href="py-modindex.html" title="Python Module Index"
             >modules</a> |</li>
        <li class="right" >
          <a href="panels.html" title="Panels"
             accesskey="N">next</a> |</li>
        <li class="right" >
          <a href="behaviors.html" title="Behaviors"
             accesskey="P">previous</a> |</li>
        <li><a href="index.html">django-fusionbox v0.0.1 documentation</a> &raquo;</li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <div class="section" id="contact">
<h1>Contact<a class="headerlink" href="#contact" title="Permalink to this headline">¶</a></h1>
<div class="section" id="intro">
<h2>Intro<a class="headerlink" href="#intro" title="Permalink to this headline">¶</a></h2>
<p>The contact module is designed to be a DRY style contact form.</p>
</div>
<div class="section" id="installation">
<h2>Installation<a class="headerlink" href="#installation" title="Permalink to this headline">¶</a></h2>
<ul class="simple">
<li>Add <tt class="docutils literal"><span class="pre">'fusionbox.contact'</span></tt> to your <tt class="docutils literal"><span class="pre">INSTALLED_APPS</span></tt></li>
<li>Run <cite>./manage.py syncdb</cite> to create the necessary database tables</li>
<li>Create the required templates (see templates and views below)</li>
<li>Add urls to your url conf</li>
</ul>
</div>
<div class="section" id="settings">
<h2>Settings<a class="headerlink" href="#settings" title="Permalink to this headline">¶</a></h2>
<p>The contact module has the following settings values which which may be used to customize its behavior</p>
<dl class="docutils">
<dt><tt class="docutils literal"><span class="pre">SITE_NAME</span></tt></dt>
<dd>Name displayed on the success page for succesfult contact form submissions.  Defaults to &#8216;Us&#8217;.</dd>
<dt><tt class="docutils literal"><span class="pre">CONTACT_FORM_RECIPIENTS</span></tt></dt>
<dd>Iterable of email addresses.  Each person in this list will be emailed for each contact form recipient.  If not present, the contact module will use the values present in the Recipients table.  (See the Recipients section)</dd>
</dl>
</div>
<div class="section" id="views">
<h2>Views<a class="headerlink" href="#views" title="Permalink to this headline">¶</a></h2>
<p>The contact module provides the following views located in <tt class="docutils literal"><span class="pre">fusionbox.contact.views</span></tt></p>
<dl class="docutils">
<dt><strong>index(request[, template, email_template, contact_form, extra_context])</strong></dt>
<dd><p class="first">Renders the contact form</p>
<p>URL name: <tt class="docutils literal"><span class="pre">contact_index</span></tt></p>
<p>Optional arguments:</p>
<ul class="simple">
<li><tt class="docutils literal"><span class="pre">template</span></tt>: The path to the template to display the contact form.  Defaults to <tt class="docutils literal"><span class="pre">contact/index.html</span></tt></li>
<li><tt class="docutils literal"><span class="pre">email_template</span></tt>: The markdown template used to send contact form submissions.  Defaults to <tt class="docutils literal"><span class="pre">mail/contact_form_submission.md</span></tt></li>
<li><tt class="docutils literal"><span class="pre">contact_form</span></tt>: A form.  Defaults to <tt class="docutils literal"><span class="pre">fusionbox.contact.forms.ContactForm</span></tt></li>
<li><tt class="docutils literal"><span class="pre">extra_context</span></tt>: A dictionary of extra context used for the response context</li>
</ul>
<p>All of these arguments may be passed in through your url conf:</p>
<div class="last highlight-python"><div class="highlight"><pre><span class="p">(</span><span class="s">r&#39;^contact-us/index/$&#39;</span><span class="p">,</span> <span class="s">&#39;fusionbox.contact.views.index&#39;</span><span class="p">,</span> <span class="p">{</span><span class="s">&#39;template&#39;</span><span class="p">:</span> <span class="s">&#39;contact/index.html&#39;</span><span class="p">}),</span>
</pre></div>
</div>
</dd>
<dt><strong>success(request[, template, extra_context])</strong></dt>
<dd><p class="first">Renders the contact form</p>
<p>URL name: <tt class="docutils literal"><span class="pre">contact_index</span></tt></p>
<p>Optional arguments:</p>
<ul class="simple">
<li><tt class="docutils literal"><span class="pre">template</span></tt>: The path to the template to display the success page for successful contact form submissions.  Defaults to <tt class="docutils literal"><span class="pre">myapp/success.html</span></tt></li>
<li><tt class="docutils literal"><span class="pre">extra_context</span></tt>: A dictionary of extra context used for the response context</li>
</ul>
<p>Similarly, these arguments can be passed in through your url conf:</p>
<div class="last highlight-python"><div class="highlight"><pre><span class="p">(</span><span class="s">r&#39;^contact-us/success/$&#39;</span><span class="p">,</span> <span class="s">&#39;fusionbox.contact.views.success&#39;</span><span class="p">,</span> <span class="p">{</span><span class="s">&#39;template&#39;</span><span class="p">:</span> <span class="s">&#39;myapp/success.html&#39;</span><span class="p">}),</span>
</pre></div>
</div>
</dd>
</dl>
</div>
<div class="section" id="urls">
<h2>URLS<a class="headerlink" href="#urls" title="Permalink to this headline">¶</a></h2>
<p>You may include the urls for the contact module one of two ways.</p>
<ol class="arabic">
<li><p class="first">Include the built in url conf somewhere in your site url conf:</p>
<div class="highlight-python"><div class="highlight"><pre><span class="n">url</span><span class="p">(</span><span class="s">r&#39;^contact-us/&#39;</span><span class="p">,</span> <span class="n">include</span><span class="p">(</span><span class="s">&#39;fusionbox.contact.urls&#39;</span><span class="p">)),</span>
</pre></div>
</div>
</li>
<li><p class="first">Manually include the urls for both the <tt class="docutils literal"><span class="pre">index</span></tt> and <tt class="docutils literal"><span class="pre">success</span></tt> views.  Often this is the best way to customize the contact form or add extra context variables:</p>
<div class="highlight-python"><div class="highlight"><pre><span class="p">(</span><span class="s">r&#39;^contact-us/index/$&#39;</span><span class="p">,</span> <span class="s">&#39;fusionbox.contact.views.index&#39;</span><span class="p">,</span> <span class="p">{</span><span class="s">&#39;template&#39;</span><span class="p">:</span> <span class="s">&#39;myapp/index.html&#39;</span><span class="p">}),</span>
<span class="p">(</span><span class="s">r&#39;^contact-us/success/$&#39;</span><span class="p">,</span> <span class="s">&#39;fusionbox.contact.views.success&#39;</span><span class="p">,</span> <span class="p">{</span><span class="s">&#39;template&#39;</span><span class="p">:</span> <span class="s">&#39;myapp/success.html&#39;</span><span class="p">}),</span>
</pre></div>
</div>
</li>
</ol>
</div>
<div class="section" id="templates">
<h2>Templates<a class="headerlink" href="#templates" title="Permalink to this headline">¶</a></h2>
<p>The contact module requires three templates.</p>
<div class="section" id="primary-contact-form-template">
<h3>Primary Contact Form Template<a class="headerlink" href="#primary-contact-form-template" title="Permalink to this headline">¶</a></h3>
<p>Default Location: <tt class="docutils literal"><span class="pre">contact/index.html</span></tt></p>
<p>This template is passed the context variable <tt class="docutils literal"><span class="pre">form</span></tt>.</p>
<p>Example:</p>
<div class="highlight-python"><pre>&lt;form method-"post" action-"{% url fusionbox.contact.views.index %}"&gt;
        {% csrf_token %}
        {{ form.non_field_errors }}
        &lt;label for-"name"&gt;Name:&lt;/label&gt;
        &lt;p&gt;{{ form.name.errors }}{{ form.name }}&lt;/p&gt;
        &lt;label for-"email"&gt;Email:&lt;/label&gt;
        &lt;p&gt;{{ form.email.errors }}{{ form.email }}&lt;/p&gt;
        &lt;label for-"comments"&gt;Comments:&lt;/label&gt;
        &lt;p&gt;{{ form.comment.errors }}{{ form.comment }}&lt;/p&gt;
        &lt;p&gt;&lt;input type-"submit" name-"" id-"" value-"SUBMIT" class-"fr"/&gt;&lt;/p&gt;
&lt;/form&gt;</pre>
</div>
</div>
<div class="section" id="success-page-template">
<h3>Success Page Template<a class="headerlink" href="#success-page-template" title="Permalink to this headline">¶</a></h3>
<p>Default Location: <tt class="docutils literal"><span class="pre">contact/success.html</span></tt></p>
<p>Upon a successful contact form submission, the user is redirected to the success page.  The success template receives a context variable <tt class="docutils literal"><span class="pre">site_name</span></tt> which is populated from the settings file.  If this value is not present, this variable will default to &#8216;Us&#8217;.</p>
<p>Example:</p>
<div class="highlight-python"><pre>&lt;p&gt;Thank you for contacting {{ site_name }}.  Someone will be in touch with you shortly!&lt;/p&gt;</pre>
</div>
</div>
<div class="section" id="email-template">
<h3>Email Template<a class="headerlink" href="#email-template" title="Permalink to this headline">¶</a></h3>
<p>Default Location: <tt class="docutils literal"><span class="pre">mail/contact_form_submission.html</span></tt></p>
<p>Successful contact form submissions will be emailed using the fusionbox <tt class="docutils literal"><span class="pre">send_markdown_email</span></tt> function to a list of recipients.  The contact module will first look for <tt class="docutils literal"><span class="pre">CONTACT_FORM_RECIPIENTS</span></tt> in the settings file, and if not will use the values from the Recipients table.</p>
<p>Example:</p>
<div class="highlight-python"><pre>&lt;p&gt;Thank you for contacting {{ site_name }}.  Someone will be in touch with you shortly!&lt;/p&gt;</pre>
</div>
</div>
</div>
<div class="section" id="recipients">
<h2>Recipients<a class="headerlink" href="#recipients" title="Permalink to this headline">¶</a></h2>
<p>The contact module has two methods for designating recipients to be emailed with the details from contact form submissions.  If the <tt class="docutils literal"><span class="pre">CONTACT_FORM_RECIPIENTS</span></tt> value is present in the settings file, those recipeints will be used.</p>
<p>If the setting is not present, the Recipients model will be registered for the admin site, and the values there will be used.</p>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar">
        <div class="sphinxsidebarwrapper">
  <h3><a href="index.html">Table Of Contents</a></h3>
  <ul>
<li><a class="reference internal" href="#">Contact</a><ul>
<li><a class="reference internal" href="#intro">Intro</a></li>
<li><a class="reference internal" href="#installation">Installation</a></li>
<li><a class="reference internal" href="#settings">Settings</a></li>
<li><a class="reference internal" href="#views">Views</a></li>
<li><a class="reference internal" href="#urls">URLS</a></li>
<li><a class="reference internal" href="#templates">Templates</a><ul>
<li><a class="reference internal" href="#primary-contact-form-template">Primary Contact Form Template</a></li>
<li><a class="reference internal" href="#success-page-template">Success Page Template</a></li>
<li><a class="reference internal" href="#email-template">Email Template</a></li>
</ul>
</li>
<li><a class="reference internal" href="#recipients">Recipients</a></li>
</ul>
</li>
</ul>

  <h4>Previous topic</h4>
  <p class="topless"><a href="behaviors.html"
                        title="previous chapter">Behaviors</a></p>
  <h4>Next topic</h4>
  <p class="topless"><a href="panels.html"
                        title="next chapter">Panels</a></p>
  <h3>This Page</h3>
  <ul class="this-page-menu">
    <li><a href="_sources/contact.txt"
           rel="nofollow">Show Source</a></li>
  </ul>
<div id="searchbox" style="display: none">
  <h3>Quick search</h3>
    <form class="search" action="search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <p class="searchtip" style="font-size: 90%">
    Enter search terms or a module, class or function name.
    </p>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="genindex.html" title="General Index"
             >index</a></li>
        <li class="right" >
          <a href="py-modindex.html" title="Python Module Index"
             >modules</a> |</li>
        <li class="right" >
          <a href="panels.html" title="Panels"
             >next</a> |</li>
        <li class="right" >
          <a href="behaviors.html" title="Behaviors"
             >previous</a> |</li>
        <li><a href="index.html">django-fusionbox v0.0.1 documentation</a> &raquo;</li> 
      </ul>
    </div>
    <div class="footer">
        &copy; Copyright 2011, Fusionbox.
      Created using <a href="http://sphinx.pocoo.org/">Sphinx</a> 1.0.8.
    </div>
  </body>
</html>