

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>Forms Module &mdash; django-fusionbox v0.0.1 documentation</title>
    <link rel="stylesheet" href="_static/default.css" type="text/css" />
    <link rel="stylesheet" href="_static/pygments.css" type="text/css" />
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '',
        VERSION:     '0.0.1',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="_static/jquery.js"></script>
    <script type="text/javascript" src="_static/underscore.js"></script>
    <script type="text/javascript" src="_static/doctools.js"></script>
    <link rel="top" title="django-fusionbox v0.0.1 documentation" href="index.html" />
    <link rel="next" title="Newsletter" href="newsletter.html" />
    <link rel="prev" title="Email" href="mail.html" /> 
  </head>
  <body>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="right" >
          <a href="py-modindex.html" title="Python Module Index"
             >modules</a> |</li>
        <li class="right" >
          <a href="newsletter.html" title="Newsletter"
             accesskey="N">next</a> |</li>
        <li class="right" >
          <a href="mail.html" title="Email"
             accesskey="P">previous</a> |</li>
        <li><a href="index.html">django-fusionbox v0.0.1 documentation</a> &raquo;</li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <div class="section" id="forms-module">
<h1>Forms Module<a class="headerlink" href="#forms-module" title="Permalink to this headline">¶</a></h1>
<div class="section" id="module-fusionbox.forms">
<span id="forms"></span><h2>Forms<a class="headerlink" href="#module-fusionbox.forms" title="Permalink to this headline">¶</a></h2>
<dl class="class">
<dt id="fusionbox.forms.BaseChangeListForm">
<em class="property">class </em><tt class="descclassname">fusionbox.forms.</tt><tt class="descname">BaseChangeListForm</tt><big>(</big><em>*args</em>, <em>**kwargs</em><big>)</big><a class="headerlink" href="#fusionbox.forms.BaseChangeListForm" title="Permalink to this definition">¶</a></dt>
<dd><p>Base class for all <tt class="docutils literal"><span class="pre">ChangeListForms</span></tt>.</p>
<dl class="method">
<dt id="fusionbox.forms.BaseChangeListForm.get_queryset">
<tt class="descname">get_queryset</tt><big>(</big><big>)</big><a class="headerlink" href="#fusionbox.forms.BaseChangeListForm.get_queryset" title="Permalink to this definition">¶</a></dt>
<dd><p>If the form was initialized with a queryset, this method returns that
queryset.  Otherwise it returns <tt class="docutils literal"><span class="pre">Model.objects.all()</span></tt> for whatever
model was defined for the form.</p>
</dd></dl>

</dd></dl>

<dl class="class">
<dt id="fusionbox.forms.SearchForm">
<em class="property">class </em><tt class="descclassname">fusionbox.forms.</tt><tt class="descname">SearchForm</tt><big>(</big><em>*args</em>, <em>**kwargs</em><big>)</big><a class="headerlink" href="#fusionbox.forms.SearchForm" title="Permalink to this definition">¶</a></dt>
<dd><p>Base form class for implementing searching on a model.</p>
<p># Example Usage</p>
<div class="highlight-python"><div class="highlight"><pre><span class="k">class</span> <span class="nc">UserSearchForm</span><span class="p">(</span><span class="n">SearchForm</span><span class="p">):</span>
    <span class="n">SEARCH_FIELDS</span> <span class="o">=</span> <span class="p">(</span><span class="s">&#39;username&#39;</span><span class="p">,</span> <span class="s">&#39;email&#39;</span><span class="p">,</span> <span class="s">&#39;profile__role&#39;</span><span class="p">)</span>
    <span class="n">model</span> <span class="o">=</span> <span class="n">User</span>
</pre></div>
</div>
<div class="highlight-python"><div class="highlight"><pre><span class="gp">&gt;&gt;&gt; </span><span class="n">form</span> <span class="o">=</span> <span class="n">UserSearchForm</span><span class="p">(</span><span class="n">request</span><span class="o">.</span><span class="n">GET</span><span class="p">,</span> <span class="n">queryset</span><span class="o">=</span><span class="n">User</span><span class="o">.</span><span class="n">objects</span><span class="o">.</span><span class="n">filter</span><span class="p">(</span><span class="n">is_active</span><span class="o">=</span><span class="bp">True</span><span class="p">))</span>
<span class="gp">&gt;&gt;&gt; </span><span class="n">form</span>
<span class="go">&lt;accounts.forms.UserSearchForm object at 0x102ea18d0&gt;</span>
<span class="gp">&gt;&gt;&gt; </span><span class="n">form</span><span class="o">.</span><span class="n">get_queryset</span><span class="p">()</span>
<span class="go">[&lt;User: admin&gt;, &lt;User: test@test.com&gt;, &lt;User: test2@test.com&gt;]</span>
</pre></div>
</div>
<p><tt class="docutils literal"><span class="pre">SEARCH_FIELDS</span></tt> should be an iterable of valid django queryset field lookups.
Lookups can span foreign key relationships.</p>
<p>By default, searches will be case insensitive.  Set <tt class="docutils literal"><span class="pre">CASE_SENSITIVE</span></tt> to
<tt class="xref docutils literal"><span class="pre">True</span></tt> to make searches case sensitive.</p>
<dl class="method">
<dt id="fusionbox.forms.SearchForm.get_queryset">
<tt class="descname">get_queryset</tt><big>(</big><big>)</big><a class="headerlink" href="#fusionbox.forms.SearchForm.get_queryset" title="Permalink to this definition">¶</a></dt>
<dd><p>Constructs an &#8216;__contains&#8217; or &#8216;__icontains&#8217; filter across all of the
fields listed in <tt class="docutils literal"><span class="pre">SEARCH_FIELDS</span></tt>.</p>
</dd></dl>

<dl class="method">
<dt id="fusionbox.forms.SearchForm.post_search">
<tt class="descname">post_search</tt><big>(</big><em>qs</em><big>)</big><a class="headerlink" href="#fusionbox.forms.SearchForm.post_search" title="Permalink to this definition">¶</a></dt>
<dd><p>Hook for modifying the queryset after the search.  Will not be called
on an invalid form.</p>
<p>Runs only if the form validates.</p>
</dd></dl>

<dl class="method">
<dt id="fusionbox.forms.SearchForm.pre_search">
<tt class="descname">pre_search</tt><big>(</big><em>qs</em><big>)</big><a class="headerlink" href="#fusionbox.forms.SearchForm.pre_search" title="Permalink to this definition">¶</a></dt>
<dd><p>Hook for modifying the queryset prior to the search</p>
<p>Runs prior to any searching and is run regardless form validation.</p>
</dd></dl>

</dd></dl>

<dl class="class">
<dt id="fusionbox.forms.FilterForm">
<em class="property">class </em><tt class="descclassname">fusionbox.forms.</tt><tt class="descname">FilterForm</tt><big>(</big><em>*args</em>, <em>**kwargs</em><big>)</big><a class="headerlink" href="#fusionbox.forms.FilterForm" title="Permalink to this definition">¶</a></dt>
<dd><p>Base class for implementing filtering on a model.</p>
<p># Example Usage</p>
<div class="highlight-python"><div class="highlight"><pre><span class="k">class</span> <span class="nc">UserFilterForm</span><span class="p">(</span><span class="n">FilterForm</span><span class="p">):</span>
    <span class="n">FILTERS</span> <span class="o">=</span> <span class="p">{</span>
        <span class="s">&#39;active&#39;</span><span class="p">:</span> <span class="s">&#39;is_active&#39;</span><span class="p">,</span>
        <span class="s">&#39;date_joined&#39;</span><span class="p">:</span> <span class="s">&#39;date_joined__gte&#39;</span><span class="p">,</span>
        <span class="s">&#39;published&#39;</span><span class="p">:</span> <span class="bp">None</span><span class="p">,</span> <span class="c"># Custom filtering</span>
        <span class="p">}</span>
    <span class="n">model</span> <span class="o">=</span> <span class="n">User</span>

    <span class="n">PUBLISHED_CHOICES</span> <span class="o">=</span> <span class="p">(</span>
            <span class="p">(</span><span class="s">&#39;&#39;</span><span class="p">,</span> <span class="s">&#39;All&#39;</span><span class="p">),</span>
            <span class="p">(</span><span class="s">&#39;before&#39;</span><span class="p">,</span> <span class="s">&#39;Before Today&#39;</span><span class="p">),</span>
            <span class="p">(</span><span class="s">&#39;after&#39;</span><span class="p">,</span> <span class="s">&#39;After Today&#39;</span><span class="p">),</span>
            <span class="p">)</span>

    <span class="n">active</span> <span class="o">=</span> <span class="n">forms</span><span class="o">.</span><span class="n">BooleanField</span><span class="p">(</span><span class="n">required</span><span class="o">=</span><span class="bp">False</span><span class="p">)</span>
    <span class="n">date_joined</span> <span class="o">=</span> <span class="n">forms</span><span class="o">.</span><span class="n">DateTimeField</span><span class="p">(</span><span class="n">required</span><span class="o">=</span><span class="bp">False</span><span class="p">)</span>
    <span class="n">published</span> <span class="o">=</span> <span class="n">forms</span><span class="o">.</span><span class="n">ChoiceField</span><span class="p">(</span><span class="n">choices</span><span class="o">=</span><span class="n">PUBLISHED_CHOICES</span><span class="p">,</span> <span class="n">widget</span><span class="o">=</span><span class="n">forms</span><span class="o">.</span><span class="n">HiddenInput</span><span class="p">())</span>

    <span class="k">def</span> <span class="nf">pre_filter</span><span class="p">(</span><span class="bp">self</span><span class="p">,</span> <span class="n">queryset</span><span class="p">):</span>
        <span class="n">published</span> <span class="o">=</span> <span class="bp">self</span><span class="o">.</span><span class="n">cleaned_data</span><span class="o">.</span><span class="n">get</span><span class="p">(</span><span class="s">&#39;published&#39;</span><span class="p">)</span>
        <span class="k">if</span> <span class="n">published</span> <span class="o">==</span> <span class="s">&#39;&#39;</span><span class="p">:</span>
            <span class="k">return</span> <span class="n">queryset</span>
        <span class="k">elif</span> <span class="n">published</span> <span class="o">==</span> <span class="s">&#39;before&#39;</span><span class="p">:</span>
            <span class="k">return</span> <span class="n">queryset</span><span class="o">.</span><span class="n">filter</span><span class="p">(</span><span class="n">published_at__lte</span><span class="o">=</span><span class="n">datetime</span><span class="o">.</span><span class="n">datetime</span><span class="o">.</span><span class="n">now</span><span class="p">())</span>
        <span class="k">elif</span> <span class="n">published</span> <span class="o">==</span> <span class="s">&#39;after&#39;</span><span class="p">:</span>
            <span class="k">return</span> <span class="n">queryset</span><span class="o">.</span><span class="n">filter</span><span class="p">(</span><span class="n">published_at__gte</span><span class="o">=</span><span class="n">datetime</span><span class="o">.</span><span class="n">datetime</span><span class="o">.</span><span class="n">now</span><span class="p">())</span>
</pre></div>
</div>
<p><tt class="docutils literal"><span class="pre">FILTERS</span></tt> defines a mapping of form fields to queryset filters.</p>
<p>When displaying in the template, this form also provides you with url querystrings for all of your filters.</p>
<p><tt class="docutils literal"><span class="pre">form.filters</span></tt> is a dictionary of all of the filters defined on your form.</p>
<p>In the example above, you could do the following in the template for display links for the published filter</p>
<div class="highlight-python"><pre>{% for choice in form.filters.published %}
    {% if choice.active %}
        {{ choice.display }} (&lt;a href='?{{ choice.remove }}'&gt;remove&lt;/a&gt;)
    {% else %}
        &lt;a href='?{{ choice.querystring }}'&gt;{{ choice.display }}&lt;/a&gt;
    {% endif %}
{% endfor %}</pre>
</div>
<dl class="attribute">
<dt id="fusionbox.forms.FilterForm.filters">
<tt class="descname">filters</tt><a class="headerlink" href="#fusionbox.forms.FilterForm.filters" title="Permalink to this definition">¶</a></dt>
<dd><p>Generates a dictionary of filters with proper queryset links to
maintian multiple filters.</p>
</dd></dl>

<dl class="method">
<dt id="fusionbox.forms.FilterForm.get_queryset">
<tt class="descname">get_queryset</tt><big>(</big><big>)</big><a class="headerlink" href="#fusionbox.forms.FilterForm.get_queryset" title="Permalink to this definition">¶</a></dt>
<dd><dl class="docutils">
<dt>Performs the following steps:</dt>
<dd><ul class="first last simple">
<li>Returns the queryset if the form is invalid.</li>
<li>Otherwise, filters the queryset based on the filters defined on the
form.</li>
<li>Returns the filtered queryset.</li>
</ul>
</dd>
</dl>
</dd></dl>

<dl class="method">
<dt id="fusionbox.forms.FilterForm.post_filter">
<tt class="descname">post_filter</tt><big>(</big><em>qs</em><big>)</big><a class="headerlink" href="#fusionbox.forms.FilterForm.post_filter" title="Permalink to this definition">¶</a></dt>
<dd><p>Hook for doing post-filter modification to the queryset.  This is also
the place where any custom filtering should take place.</p>
<p>Runs only if the form validates.</p>
</dd></dl>

<dl class="method">
<dt id="fusionbox.forms.FilterForm.pre_filter">
<tt class="descname">pre_filter</tt><big>(</big><em>qs</em><big>)</big><a class="headerlink" href="#fusionbox.forms.FilterForm.pre_filter" title="Permalink to this definition">¶</a></dt>
<dd><p>Hook for doing pre-filter modification to the queryset</p>
<p>Runs prior to any form filtering and is run regardless form validation.</p>
</dd></dl>

</dd></dl>

<dl class="class">
<dt id="fusionbox.forms.SortForm">
<em class="property">class </em><tt class="descclassname">fusionbox.forms.</tt><tt class="descname">SortForm</tt><big>(</big><em>*args</em>, <em>**kwargs</em><big>)</big><a class="headerlink" href="#fusionbox.forms.SortForm" title="Permalink to this definition">¶</a></dt>
<dd><p>Base class for implementing sorting on a model.</p>
<p># Example Usage</p>
<div class="highlight-python"><pre>class UserSortForm(SortForm):
    HEADERS = (
        {'column': 'username', 'title': 'Username', 'sortable': True},
        {'column': 'email', 'title': 'Email Address', 'sortable': True},
        {'column': 'is_active', 'title': 'Active', 'sortable': False},
    model = User</pre>
</div>
<p>The sort field for this form defaults to a HiddenInput widget which should
be output within your form to preserve sorting accross any form
submissions.</p>
<dl class="method">
<dt id="fusionbox.forms.SortForm.get_queryset">
<tt class="descname">get_queryset</tt><big>(</big><big>)</big><a class="headerlink" href="#fusionbox.forms.SortForm.get_queryset" title="Permalink to this definition">¶</a></dt>
<dd><p>Returns an ordered queryset, sorted based on the values submitted in
the sort parameter.</p>
</dd></dl>

<dl class="method">
<dt id="fusionbox.forms.SortForm.headers">
<tt class="descname">headers</tt><big>(</big><big>)</big><a class="headerlink" href="#fusionbox.forms.SortForm.headers" title="Permalink to this definition">¶</a></dt>
<dd><p>Returns an object with the following template variables:</p>
<dl class="docutils">
<dt><tt class="docutils literal"><span class="pre">{{</span> <span class="pre">form.headers</span> <span class="pre">}}</span></tt></dt>
<dd><ul class="first last simple">
<li>access to the header</li>
</ul>
</dd>
<dt><tt class="docutils literal"><span class="pre">{{</span> <span class="pre">header.title</span> <span class="pre">}}</span></tt></dt>
<dd><ul class="first last simple">
<li>title declared for this header</li>
</ul>
</dd>
<dt><tt class="docutils literal"><span class="pre">{{</span> <span class="pre">header.sortable</span> <span class="pre">}}</span></tt></dt>
<dd><ul class="first last simple">
<li>boolean for whether this header is sortable</li>
</ul>
</dd>
<dt><tt class="docutils literal"><span class="pre">{{</span> <span class="pre">header.active</span> <span class="pre">}}</span></tt></dt>
<dd><ul class="first last simple">
<li>boolean for whether the queryset is currently being sorted by this header</li>
</ul>
</dd>
<dt><tt class="docutils literal"><span class="pre">{{</span> <span class="pre">header.classes</span> <span class="pre">}}</span></tt></dt>
<dd><ul class="first last simple">
<li>list of css classes for this header. (active, ascending|descending)</li>
</ul>
</dd>
<dt><tt class="docutils literal"><span class="pre">{{</span> <span class="pre">header.priority</span> <span class="pre">}}</span></tt></dt>
<dd><ul class="first last simple">
<li>numeric index for which place this header is being used for ordering.</li>
</ul>
</dd>
<dt><tt class="docutils literal"><span class="pre">{{</span> <span class="pre">header.querystring</span> <span class="pre">}}</span></tt></dt>
<dd><ul class="first last simple">
<li>querystring for use with progressive sorting (sorting by multiple fields)</li>
</ul>
</dd>
<dt><tt class="docutils literal"><span class="pre">{{</span> <span class="pre">header.remove</span> <span class="pre">}}</span></tt></dt>
<dd><ul class="first last simple">
<li>querystring which can be used to remove this header from sorting</li>
</ul>
</dd>
<dt><tt class="docutils literal"><span class="pre">{{</span> <span class="pre">header.singular</span> <span class="pre">}}</span></tt></dt>
<dd><ul class="first last simple">
<li>querystring which can be used to sort only by this header</li>
</ul>
</dd>
</dl>
<p>Example:</p>
<div class="highlight-python"><pre>{% for header in form.headers %}
  {% if header.priority %}
  &lt;th scope="col" class="active {{ form.prefix }}-{{ header.column }}"&gt;
    &lt;div class="sortoptions {{ header.classes|join:' ' }}"&gt;
      &lt;a class="sortremove" href="?{{ header.remove }}" title="Remove from sorting"&gt;X&lt;/a&gt;
      &lt;span class="sortpriority" title="Sorting priority: {{ header.priority }}"&gt;{{ header.priority }}&lt;/span&gt;
      &lt;a href="?{{ header.querystring }}" class="toggle" title="Toggle sorting"&gt;&lt;/a&gt;
    &lt;/div&gt;
  {% else %}
  &lt;th scope="col" class="{{ form.prefix }}-{{ header.column }}"&gt;
  {% endif %}

  {% if header.sortable %}
     &lt;div class="text"&gt;&lt;a href="?{{ header.querystring }}"&gt;{{ header.title }}&lt;/a&gt;&lt;/div&gt;
  {% else %}
     &lt;div class="text"&gt;{{ header.title|safe }}&lt;/div&gt;
  {% endif %}
  &lt;/th&gt;
{% endfor %}</pre>
</div>
</dd></dl>

<dl class="method">
<dt id="fusionbox.forms.SortForm.post_sort">
<tt class="descname">post_sort</tt><big>(</big><em>qs</em><big>)</big><a class="headerlink" href="#fusionbox.forms.SortForm.post_sort" title="Permalink to this definition">¶</a></dt>
<dd><p>Hook for doing post-sort modification of the queryset.  Will not be
called on an invalid form.</p>
</dd></dl>

<dl class="method">
<dt id="fusionbox.forms.SortForm.pre_sort">
<tt class="descname">pre_sort</tt><big>(</big><em>qs</em><big>)</big><a class="headerlink" href="#fusionbox.forms.SortForm.pre_sort" title="Permalink to this definition">¶</a></dt>
<dd><p>Hook for doing pre-sort modification of the queryset.</p>
<p>Runs regardless</p>
</dd></dl>

</dd></dl>

<dl class="class">
<dt id="fusionbox.forms.CsvForm">
<em class="property">class </em><tt class="descclassname">fusionbox.forms.</tt><tt class="descname">CsvForm</tt><big>(</big><em>*args</em>, <em>**kwargs</em><big>)</big><a class="headerlink" href="#fusionbox.forms.CsvForm" title="Permalink to this definition">¶</a></dt>
<dd><p>Base class for implementing csv generation on a model.</p>
<p>Example:</p>
<p># Given this class...</p>
<div class="highlight-python"><div class="highlight"><pre><span class="k">class</span> <span class="nc">UserFilterForm</span><span class="p">(</span><span class="n">FilterForm</span><span class="p">):</span>
    <span class="n">model</span> <span class="o">=</span> <span class="n">User</span>

    <span class="n">CSV_COLUMNS</span> <span class="o">=</span> <span class="p">(</span>
            <span class="p">{</span><span class="s">&#39;column&#39;</span><span class="p">:</span> <span class="s">&#39;id&#39;</span><span class="p">,</span> <span class="s">&#39;title&#39;</span><span class="p">:</span> <span class="s">&#39;Id&#39;</span><span class="p">},</span>
            <span class="p">{</span><span class="s">&#39;column&#39;</span><span class="p">:</span> <span class="s">&#39;username&#39;</span><span class="p">,</span> <span class="s">&#39;title&#39;</span><span class="p">:</span> <span class="s">&#39;Username&#39;</span><span class="p">},</span>
            <span class="p">{</span><span class="s">&#39;column&#39;</span><span class="p">:</span> <span class="s">&#39;email__domain_name&#39;</span><span class="p">,</span> <span class="s">&#39;title&#39;</span><span class="p">:</span> <span class="s">&#39;Email Domain&#39;</span><span class="p">},</span>
            <span class="p">)</span>

    <span class="n">FILTERS</span> <span class="o">=</span> <span class="p">{</span>
        <span class="s">&#39;active&#39;</span><span class="p">:</span> <span class="s">&#39;is_active&#39;</span><span class="p">,</span>
        <span class="s">&#39;date_joined&#39;</span><span class="p">:</span> <span class="s">&#39;date_joined__gte&#39;</span><span class="p">,</span>
        <span class="s">&#39;published&#39;</span><span class="p">:</span> <span class="bp">None</span><span class="p">,</span> <span class="c"># Custom filtering</span>
        <span class="p">}</span>

    <span class="n">PUBLISHED_CHOICES</span> <span class="o">=</span> <span class="p">(</span>
            <span class="p">(</span><span class="s">&#39;&#39;</span><span class="p">,</span> <span class="s">&#39;All&#39;</span><span class="p">),</span>
            <span class="p">(</span><span class="s">&#39;before&#39;</span><span class="p">,</span> <span class="s">&#39;Before Today&#39;</span><span class="p">),</span>
            <span class="p">(</span><span class="s">&#39;after&#39;</span><span class="p">,</span> <span class="s">&#39;After Today&#39;</span><span class="p">),</span>
            <span class="p">)</span>

    <span class="n">active</span> <span class="o">=</span> <span class="n">forms</span><span class="o">.</span><span class="n">BooleanField</span><span class="p">(</span><span class="n">required</span><span class="o">=</span><span class="bp">False</span><span class="p">)</span>
    <span class="n">date_joined</span> <span class="o">=</span> <span class="n">forms</span><span class="o">.</span><span class="n">DateTimeField</span><span class="p">(</span><span class="n">required</span><span class="o">=</span><span class="bp">False</span><span class="p">)</span>
    <span class="n">published</span> <span class="o">=</span> <span class="n">forms</span><span class="o">.</span><span class="n">ChoiceField</span><span class="p">(</span><span class="n">choices</span><span class="o">=</span><span class="n">PUBLISHED_CHOICES</span><span class="p">,</span> <span class="n">widget</span><span class="o">=</span><span class="n">forms</span><span class="o">.</span><span class="n">HiddenInput</span><span class="p">())</span>

    <span class="k">def</span> <span class="nf">pre_filter</span><span class="p">(</span><span class="bp">self</span><span class="p">,</span> <span class="n">queryset</span><span class="p">):</span>
        <span class="n">published</span> <span class="o">=</span> <span class="bp">self</span><span class="o">.</span><span class="n">cleaned_data</span><span class="o">.</span><span class="n">get</span><span class="p">(</span><span class="s">&#39;published&#39;</span><span class="p">)</span>
        <span class="k">if</span> <span class="n">published</span> <span class="o">==</span> <span class="s">&#39;&#39;</span><span class="p">:</span>
            <span class="k">return</span> <span class="n">queryset</span>
        <span class="k">elif</span> <span class="n">published</span> <span class="o">==</span> <span class="s">&#39;before&#39;</span><span class="p">:</span>
            <span class="k">return</span> <span class="n">queryset</span><span class="o">.</span><span class="n">filter</span><span class="p">(</span><span class="n">published_at__lte</span><span class="o">=</span><span class="n">datetime</span><span class="o">.</span><span class="n">datetime</span><span class="o">.</span><span class="n">now</span><span class="p">())</span>
        <span class="k">elif</span> <span class="n">published</span> <span class="o">==</span> <span class="s">&#39;after&#39;</span><span class="p">:</span>
            <span class="k">return</span> <span class="n">queryset</span><span class="o">.</span><span class="n">filter</span><span class="p">(</span><span class="n">published_at__gte</span><span class="o">=</span><span class="n">datetime</span><span class="o">.</span><span class="n">datetime</span><span class="o">.</span><span class="n">now</span><span class="p">())</span>
</pre></div>
</div>
<div class="highlight-python"><div class="highlight"><pre><span class="gp">&gt;&gt;&gt; </span><span class="c"># This code in a repl will produce a string buffer with csv output for</span>
<span class="gp">&gt;&gt;&gt; </span><span class="c"># the form&#39;s queryset</span>
<span class="gp">&gt;&gt;&gt; </span><span class="n">form</span> <span class="o">=</span> <span class="n">UserFilterForm</span><span class="p">(</span><span class="n">request</span><span class="o">.</span><span class="n">GET</span><span class="p">,</span> <span class="n">queryset</span><span class="o">=</span><span class="n">User</span><span class="o">.</span><span class="n">objects</span><span class="o">.</span><span class="n">all</span><span class="p">())</span>
<span class="gp">&gt;&gt;&gt; </span><span class="n">form</span><span class="o">.</span><span class="n">csv_content</span><span class="p">()</span>
<span class="go">&lt;StringIO.StringO object at 0x102fd2f48&gt;</span>
<span class="go">&gt;&gt;&gt;</span>
</pre></div>
</div>
<p><tt class="docutils literal"><span class="pre">CSV_COLUMNS</span></tt> defines a list of properties to fetch from each obj in the
queryset which will be output in the csv content.  The <tt class="docutils literal"><span class="pre">column</span></tt> key defines
the lookup path for the property.  This can lookup a field, property
method, or method on the model which may span relationships.  The <tt class="docutils literal"><span class="pre">title</span></tt>
key defines the column header to use for that property in the csv content.</p>
<p>The <a class="reference internal" href="#fusionbox.forms.CsvForm.csv_content" title="fusionbox.forms.CsvForm.csv_content"><tt class="xref py py-func docutils literal"><span class="pre">csv_content()</span></tt></a> method returns a string buffer with csv content for the
form&#8217;s queryset.</p>
<dl class="method">
<dt id="fusionbox.forms.CsvForm.csv_content">
<tt class="descname">csv_content</tt><big>(</big><big>)</big><a class="headerlink" href="#fusionbox.forms.CsvForm.csv_content" title="Permalink to this definition">¶</a></dt>
<dd><p>Returns the objects in the form&#8217;s current queryset as csv content.</p>
</dd></dl>

</dd></dl>

<dl class="function">
<dt id="fusionbox.forms.csv_getattr">
<tt class="descclassname">fusionbox.forms.</tt><tt class="descname">csv_getattr</tt><big>(</big><em>obj</em>, <em>attr_name</em><big>)</big><a class="headerlink" href="#fusionbox.forms.csv_getattr" title="Permalink to this definition">¶</a></dt>
<dd><p>Helper function for CsvForm class that gets an attribute from a model with
a custom exception.</p>
</dd></dl>

</div>
<div class="section" id="module-fusionbox.forms">
<span id="fields"></span><h2>Fields<a class="headerlink" href="#module-fusionbox.forms" title="Permalink to this headline">¶</a></h2>
<dl class="class">
<dt id="fusionbox.forms.MonthField">
<em class="property">class </em><tt class="descclassname">fusionbox.forms.</tt><tt class="descname">MonthField</tt><big>(</big><em>*args</em>, <em>**kwargs</em><big>)</big><a class="headerlink" href="#fusionbox.forms.MonthField" title="Permalink to this definition">¶</a></dt>
<dd><p><a class="reference internal" href="#fusionbox.forms.MonthField" title="fusionbox.forms.MonthField"><tt class="xref py py-class docutils literal"><span class="pre">MonthField</span></tt></a> is a <tt class="xref py py-class docutils literal"><span class="pre">TypedChoiceField</span></tt> that selects a month.
Its python value is a 1-indexed month number.</p>
</dd></dl>

<dl class="class">
<dt id="fusionbox.forms.fields.FutureYearField">
<em class="property">class </em><tt class="descclassname">fusionbox.forms.fields.</tt><tt class="descname">FutureYearField</tt><big>(</big><em>number_of_years=6</em>, <em>*args</em>, <em>**kwargs</em><big>)</big><a class="reference internal" href="_modules/fusionbox/forms/fields.html#FutureYearField"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#fusionbox.forms.fields.FutureYearField" title="Permalink to this definition">¶</a></dt>
<dd><p><tt class="xref py py-class docutils literal"><span class="pre">FutureYearField</span></tt> is a <tt class="xref py py-class docutils literal"><span class="pre">TypedChoiceField</span></tt> that selects a
year a defined period in the future. Useful for credit card expiration
dates.</p>
</dd></dl>

</div>
</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar">
        <div class="sphinxsidebarwrapper">
  <h3><a href="index.html">Table Of Contents</a></h3>
  <ul>
<li><a class="reference internal" href="#">Forms Module</a><ul>
<li><a class="reference internal" href="#module-fusionbox.forms">Forms</a></li>
<li><a class="reference internal" href="#module-fusionbox.forms">Fields</a></li>
</ul>
</li>
</ul>

  <h4>Previous topic</h4>
  <p class="topless"><a href="mail.html"
                        title="previous chapter">Email</a></p>
  <h4>Next topic</h4>
  <p class="topless"><a href="newsletter.html"
                        title="next chapter">Newsletter</a></p>
  <h3>This Page</h3>
  <ul class="this-page-menu">
    <li><a href="_sources/forms.txt"
           rel="nofollow">Show Source</a></li>
  </ul>
<div id="searchbox" style="display: none">
  <h3>Quick search</h3>
    <form class="search" action="search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <p class="searchtip" style="font-size: 90%">
    Enter search terms or a module, class or function name.
    </p>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="genindex.html" title="General Index"
             >index</a></li>
        <li class="right" >
          <a href="py-modindex.html" title="Python Module Index"
             >modules</a> |</li>
        <li class="right" >
          <a href="newsletter.html" title="Newsletter"
             >next</a> |</li>
        <li class="right" >
          <a href="mail.html" title="Email"
             >previous</a> |</li>
        <li><a href="index.html">django-fusionbox v0.0.1 documentation</a> &raquo;</li> 
      </ul>
    </div>
    <div class="footer">
        &copy; Copyright 2011, Fusionbox.
      Created using <a href="http://sphinx.pocoo.org/">Sphinx</a> 1.0.8.
    </div>
  </body>
</html>